@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #14151b;
}

body {
  background-color: #f7f7f8;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
